*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #0065e9, #23a6d5, #23d5ab, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.header {
  text-align: center;
  color: #fff;
  margin: 5rem 0;
}

.header h1 {
  font-size: 2.5rem;
}
.header p {
  font-size: 1.5rem;
}

.background_remover__container {
  text-align: center;
}

.background_remover__wrapper {
  width: 50%;
  margin: 0px auto;
}

.background_remover_file_uploader {
  border-radius: 25px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#file_uploader {
  display: none;
}


.background_remover_file_uploader div {
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.background_remover_file_uploader div label{
  display: block !important;
  cursor: pointer;
}

.label_left {
  float: left;
}
.label_right{
  float: right;
}

.remove_image_box {
  margin: 30px 0;
}

.remove_image_box button {
  font-size: 18px;
  border-radius: 25px;
  padding: 15px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.remove_image_box button:hover {
  background: #efefef;
  color: #000;
}

.info__text {
  color: #fff;
  font-size: 20px;
  margin: 2.5rem 0;
}

.show_uploaded_image__box {
  border: 2px dashed #fff;
  width: 60%;
  margin: 5rem auto;
  padding: 10px;
  color: #fff;
  text-align: center;
  align-items: center;
}

.show_uploaded_image__box img {
  width: 300px;
  height: 500px;
}


.downloadButton  button{
  font-size: 18px;
  border-radius: 25px;
  padding: 15px;
  margin: 3rem 0;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.downloadButton button:hover {
  background: #efefef;
  color: #000;
}

.footer {
  text-align: center;
  color: #000;
  background: #fff;
  padding: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.footer a {
  text-decoration: none;
  color: #000;
}


@media screen and (max-width: 420px) {
  .header {
    margin: 3rem 0;
  }
  
  .header h1 {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .header p {
    font-size: 1.3rem;
  }

  .background_remover__wrapper {
    width: 100%;
    margin: 0px auto;
  }

  .info__text {
    font-size: 19px;
    margin: 2.5rem 0;
  }

  .show_uploaded_image__box {
    width: 90%;
  }

  .show_uploaded_image__box img {
    width: 310px;
    height: 400px;
  }
}